<app-home></app-home>

<div class="container">
  <div>
    <div *ngIf="carregar">
      <ngx-spinner [fullScreen]="true" type="ball-clip-rotate-multiple" size="medium">
        <p class="loading" style="color: rgb(255, 255, 255)"> Carregando... </p>
      </ngx-spinner>
    </div>
    <h3 class="text-primary">Users</h3>
  </div>

  <div class="row col-md-auto">

    <div class="border border-secondary table-responsive-lg">

      <table class="table col-md-auto ">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">NAME</th>
            <th scope="col">ACCESS</th>
            <th scope="col">Password</th>
            <th>
              <form>
                Name search:<input class="form-control ml-2" type="text" [formControl]="filter"
                  (ngModelChange)="criarTableBy()" />
              </form>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let us of usuarios ">
            <th scope="row">{{us.id}}</th>
            <td> {{us.name}}</td>
            <td> {{us.access}} </td>
            <td> {{us.pass}} </td>
            <td>
              <button (click)="editarClick(us)" class="btn btn-primary">Editar</button>
              <button (click)="deletarClick(us)" class="btn btn-danger">Excluir</button>
            </td>
          </tr>
        </tbody>

      </table>
      <div class="d-flex justify-content-between p-2">

        <pagination [page]="page" (paginationEvent)=changePage($event)></pagination>

      </div>
    </div>


    <div class="col-md-1 col-sm-1 col-lg-1 col-xl-1"></div>

    <div class="border border-secondary col-xl-4 col-lg-3 col-md-12 col-sm-12 ">
      <p></p>
      <form [formGroup]="cadUs" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <input formControlName="name" class="form-control" type="text" placeholder="User Name" />
          <span></span>
        </div>
        <div class="form-group">
          <input formControlName="pass" type="password" class="form-control" id="exampleInputPassword1"
            placeholder="Password">
        </div>
        <div class="form-group">
          <select formControlName="access" class="custom-select">
            <option value=null [selected]="true">Select Group</option>
            <option value="Sales">Sales</option>
            <option value="Administrator">Admin</option>
            <option value="Master">Master</option>
          </select>
        </div>
        <button [disabled]="cadUs.invalid " type="submit" class="btn btn-primary">Submit</button>
        <br>
        <p *ngIf="message">
          <br>
          <ngb-alert [type]="messageType" (close)="close()">{{ message }}</ngb-alert>
        </p>
      </form>
      <p></p>
    </div>

  </div>

</div>