<app-home></app-home>

<div class="container mb-4">
  <div>
    <div *ngIf="carregar">
      <ngx-spinner [fullScreen]="true" type="ball-clip-rotate-multiple" size="medium">
        <p class="loading" style="color: rgb(255, 255, 255)"> Carregando... </p>
      </ngx-spinner>
    </div>
    <h3 class="text-primary">Users</h3>
  </div>

  <div class="row col-md">

    <div class="border border-secondary table-responsive-lg">

      <table id="teste" class="table col-xl ">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">NAME</th>
            <th scope="col">ACCESS</th>
            <th scope="col">Password</th>
            <th>
              <form>
                Name search:<input class="form-control ml-2" type="text" [formControl]="filter" />
              </form>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let us of usuarios ">
            <th scope="row">{{us.id}}</th>
            <td> {{us.name}}</td>
            <td> {{us.access}} </td>
            <td> {{us.pass}} </td>
            <td>
              <button (click)="editarClick(us)" class="btn btn-primary">Editar</button>
              <button (click)="deletarClick(us)" class="btn btn-danger">Excluir</button>
            </td>
          </tr>
        </tbody>

      </table>
      <div class="d-flex justify-content-between p-2">

        <pagination [page]="page" (paginationEvent)=changePage($event)></pagination>

      </div>
    </div>


    <div class="col-md-1 col-sm-1 col-lg-1 col-xl-1"></div>

    

  </div>

</div>
