<body class="text-center">
  <div *ngIf="carregar">
    <ngx-spinner [fullScreen]="true" type="ball-clip-rotate-multiple" size="medium">
      <p class="loading" style="color: white"> Entrando... </p>
    </ngx-spinner>
  </div>
  <form [formGroup]="loginForm" class="form-signin">
    <br>
    <br>
    <br>
    <br>
    <h1 class="h3 mb-3 font-weight-normal">Reset Password</h1>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input formControlName="pass1" type="text" id="inputEmail" class="form-control" placeholder="Password" required
      autofocus>

    <label for="inputPassword" class="sr-only">Password</label>
    <input formControlName="pass2" type="password" id="inputPassword" class="form-control"
      placeholder="Confirm Password" required>

    <div class="checkbox mb-3">
      <!--<label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>-->
    </div>
    <button (click)="login()" [disabled]="loginForm.invalid" class="btn btn-lg btn-primary btn-block"
      type="submit">Reset</button>
    <br>

    <p class="mt-5 mb-3 text-muted">&copy; 2020</p>
  </form>

</body>