<div class="border border-secondary col-xl-3 col-lg-3 col-md-12 col-sm-12 ">
  <p></p>
  <form [formGroup]="cadUs" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <input formControlName="name" class="form-control" type="text" placeholder="User Name" />
      <span></span>
    </div>
    <div class="form-group">
      <input formControlName="pass" type="password" class="form-control" id="exampleInputPassword1"
        placeholder="Password">
    </div>
    <div class="form-group">
      <select formControlName="access" class="custom-select">
        <option value=null [selected]="true">Select Group</option>
        <option value="Sales">Sales</option>
        <option value="Administrator">Admin</option>
        <option value="Master">Master</option>
      </select>
    </div>
    <button [disabled]="cadUs.invalid " type="submit" class="btn btn-primary">Submit</button>
    <br>
    <p *ngIf="message">
      <br>
      <ngb-alert [type]="messageType" (close)="close()">{{ message }}</ngb-alert>
    </p>
  </form>
  <p></p>
</div>